{% load staticfiles %}
<html>
    <head>
        <title>LetsBlog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header" style="background: plum">
            <h1><a href="/">LetsBlog!!!------ {{user.username}}</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% for post in posts %}
                    <div class="post">
                        {{ post.title }}
                            <div class="date">
                                {{ post.published_date }}
                            </div>
                            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                            <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                {% endfor %}
                <h2><a href="{% url 'prof_edit' pk=user.pk %}">EditProfile</a></h2>
                <h2><a href="{% url 'logout' %}">Logout</a></h2>
                </div>
            </div>
        </div>
    </body>
</html>
